:root {
  --vp-c-brand-1: #87eb22;
  --vp-c-brand-2: #87eb22;

  --vp-c-brand: #05B44B;
  --vp-c-brand-light: #99F0BC;
  --vp-c-brand-lighter: #BBF2D1;
  --vp-c-brand-lightest: #E5FEEF;
  --vp-c-brand-dark: #01933B;
  --vp-c-brand-darker: #027731;

  --vp-code-block-bg: #f9fafb;
}
