:root {
  --vp-c-brand-1: #87eb22;
  --vp-c-brand-2: #87eb22;

  --vp-c-brand: #05b44b;
  --vp-c-brand-light: #99f0bc;
  --vp-c-brand-lighter: #bbf2d1;
  --vp-c-brand-lightest: #e5feef;
  --vp-c-brand-dark: #01933b;
  --vp-c-brand-darker: #027731;

  --vp-code-block-bg: #f9fafb;
}

.VPHomeHero {
  .container {
    .image-container::before {
        background: none;
    }

    .image-src {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
